# Copyright (c) 2010 Yahoo! Inc. All rights reserved.                                                                                                                             
#                                                                                                                                                                                 
# Licensed under the Apache License, Version 2.0 (the "License"); you                                                                                                             
# may not use this file except in compliance with the License. You                                                                                                                
# may obtain a copy of the License at                                                                                                                                             
#                                                                                                                                                                                 
# http://www.apache.org/licenses/LICENSE-2.0                                                                                                                                      
#                                                                                                                                                                                 
# Unless required by applicable law or agreed to in writing, software                                                                                                             
# distributed under the License is distributed on an "AS IS" BASIS,                                                                                                               
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or                                                                                                                 
# implied. See the License for the specific language governing                                                                                                                    
# permissions and limitations under the License. See accompanying                                                                                                                 
# LICENSE file.                                                                                                                                                                   


# Yahoo! Cloud System Benchmark
# Workload A: Update heavy workload
#   Application example: Session store recording recent actions
#                        
#   Read/update ratio: 50/50
#   Default data size: 1 KB records (10 fields, 100 bytes each, plus key)
#   Request distribution: zipfian


fieldcount=1
fieldlength=1024

# recordcount=100000000
recordcount={{ recordcount }}

workload=com.yahoo.ycsb.workloads.CoreWorkload

readallfields={{ readallfields }}
readproportion={{ readproportion }}
updateproportion={{ updateproportion }}
scanproportion={{ scanproportion }}
insertproportion={{ insertproportion }}

requestdistribution=zipfian

# controlling the end of the experiment
# max operations for this experiment
operationcount={{ operationcount }}

# execution time in seconds
{{ maxexecutiontime }}

# host ip: {{ ansible_ssh_host }} 
# host last from ip: {{ ansible_ssh_host.split(".")[-1]  }}
# host id {{  play_hosts.index(inventory_hostname)  }}
smart-initkey={{ smart_key }}

{{ insertstart }}
{{ insertcount }}
